
/**********************************
high score button/list/ adjustments
***********************************/

#highScoresClick {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding-left: 25px;
    background-color: rgb(255, 255, 255, 0.0);
    border: rgb(255, 255, 255, 0.0);
}

#highScoresArchive {
    color: white;
    display: none;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.highScoresList {
    float: left;
    display: none;
   background-color: rgb(253, 252, 252, 0.0); 
    margin-top: 50px; 
    position: absolute;
}

/*******************************
time left: countdown adjustments
********************************/

#timeLeft {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding-right: 25px;
    padding-top: 5px;  
}

/*************************************
welcome section/start game adjustments
**************************************/

#welcomeSection {
    width: 800px;
    height: 500px;
    text-align: center;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    background: rgb(112, 110, 110, 0.0);
    color: white;
    font-family: 'Work Sans', sans-serif;
}

hr {
    width:90%;
    margin:0 auto;
}

/*************************************
question+answer section adjustments
**************************************/

.questionSection {
    display: none;
    background-color: white;
    width: 800px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(112, 110, 110, 0.0);
    color: white;
    font-family: 'Work Sans', sans-serif;    
}

/*******************************************
enter your initials/submit score adjustments
********************************************/

.initialsSection {
    display: none;
    width: 600px;
    height: 75px;
    margin-top: 140px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#initialsInput {
    text-align: center;
}

/****************************
body + background adjustments
*****************************/


#background {
    background-image: url(background-gradient.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
